button:focus {
    outline: none;
}

.about_background
{
    position: relative;
    background-color: #1b2838;
    width: 642px;
}

.blurAllExcept
{
    filter: blur(2px) grayscale(70%);
}

/* .description-content> *:not(#collapse-TextArea-Id)
{
    filter: blur(2px) grayscale(70%);
} */

#description-Body-Id
{
    box-shadow: inset 0 0 70px #000000;
}

.about_heading
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 16px;
    border-bottom: 1px solid;
}

.feature-description
{
    background-color: 1b2838;
    width: 100%;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #acb2b8;
    font-size: 14px;
}

.feature-description:hover
{
    border-radius: 7px;
    cursor: pointer;
    background-color: #334c6b;
}

.feature-description-edit, .new-description
{
    background-color: 1b2838;
    height: 250px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #acb2b8;
    font-size: 14px;
}

.white-line-seperate
{
    margin-bottom: 10px;
    border-bottom: antiquewhite 1px solid;
    width: 100%;
}

#image-file-name-id
{
    color: cornsilk;
    width: fit-content;
    background-color: 1b2838;
}

#image-input
{
    display: none;
}

#label-image-input
{
    background-color: aliceblue;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#add-feature-button
{
    /*edit my save button here*/
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: blueviolet;
    width: 49%;
}

#cancel-feature-button
{
    /*edit my cancel button here*/
    margin-top: 4px;
    margin-bottom: 4px;
    float: right;
    background-color: crimson;
    width: 49%;
}
#collapse-TextArea-Id
{
    position: relative;
}

/* #confirm-box
{
    width: 100px;
    height: 70px;
} */

.image-preview-area
{
    min-width: 400px;
    max-width: 600px;
    max-height: 400px;
    margin-bottom: 10px;
    border: 1px solid #acb2b8;
    background-color: #1b2838;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: lightgray;
}

.image-preview
{
    display: none;
    width: 100%;
}

.confirm
{
    position: absolute;;
    display: none;
    right: 0;
    bottom: 50%;
    left: 0;
    margin: auto;
    text-align: center;
    width: 250px;
    height: 80px;
    background-color: lightgrey;
    border-radius: 7px;
}

.confirm-Creation
{
    margin-top: 5px;
    font-size: 14;
}

.confirm-button
{
    margin-bottom: 8px;
    margin-left: 40px;
    width: 80px;
}

.cancel-button
{
    float: right;
    margin-right: 40px;
    width: 80px;
}

.image-buttons {
    position: absolute;
    right: 0;
    display: block;
    background: transparent;
    border: 0;
    width: 30%;
    height: 2rem;
    margin: 0;
    padding: 0;
}

.image-buttons.change-feature {
    white-space: nowrap;
}

.image-buttons.delete-feature {
    top: 15%;
    white-space: nowrap;
}

.image-buttons.swap-feature {
    top: 30%;
    white-space: nowrap;
}

.image-button-color {
    display: flex;
    width: 20%; 
    height: inherit; 
    border-radius: 1rem;
    position: relative;
    float: right;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: transparent;
    background: rgba(27, 40, 56, 0.6);
    transition: width 0.4s, background 0.4s, color 0.4s;
}

.image-buttons.change-feature:hover > .image-button-color {
    width: 100%;
    background: rgba(51, 76, 107, 1);
    color: #acb2b8;
}

.image-buttons.delete-feature:hover > .image-button-color {
    width: 100%;
    background: rgba(51, 76, 107, 1);
    color: red;
}

.image-buttons.swap-feature:hover > .image-button-color {
    width: 100%;
    background: rgba(51, 76, 107, 1);
    color: yellow;
}

.my-arrow {
    display: inline-flex;
    position: absolute;
    right: 0;
    border: solid green;
    border-width: 0 7px 7px 0;
    padding: 5px;
    transform: rotate(135deg);
}

.image-buttons.delete-feature .my-arrow {   
    border: solid red;
    border-width: 0 7px 7px 0;
}

.image-buttons.swap-feature .my-arrow {   
    border: solid yellow;
    border-width: 0 7px 7px 0;
}

.fa-delete-tip {
    position: relative;
    font-size: large;
    color: red;
}

.fa-swap-tip {
    position: relative;
    font-size: large;
    color: rgb(194, 194, 14);
}

.fa-upload-tip {
    position: relative;
    font-size: large;
}
.mytooltip {
    padding-left: 6px;
    padding-right: 6px;
}

.mytooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #c6d4df;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-weight: normal;
    box-shadow: 2px 2px 8px black;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.mytooltip:hover {
    cursor: pointer;
}

.mytooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 0.9;
}

#collapsible-features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 320;
}

.section {
    overflow: hidden;
    transition:flex 0.3s ease-out;
    height:auto;
    flex:1;
}

.section.collapse {
    flex: 0;
}

/* Font awesome styles */

.fa-file-image{
    color: green;
}

